{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div>
        <h1>Mot de passe oublié</h1>
        <p>Entrez votre adresse email</p>

        <form method="POST">
            <div class="form-group">
                <input class="form-control" name="email" value="{{ email }}" placeholder="Adresse email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>

{% endblock %}