{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4">Edit Profile</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_show') }}" class="text-blue-600 hover:underline block mt-4">back to Profile</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}

