{% extends 'base.html.twig' %}

{% block title %}
	User
{% endblock %}

{% block body %}
	<h1>
		{{user}}
		's page
	</h1>

	<div class="d-flex">
		{% for picture in user.pictures %}
			<div>
			1 image
				<img src="{{picture.filename}}" alt="my Image"/>
			</div>
		{% endfor %}
	</div>


	<a href="{{ path('app_user_edit', {'id': user.id}) }}">
		Edit Your Profile
	</a>
{% endblock %}
