<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin: 40px 0;">
        <h1>Réinitialisez votre mot de passe</h1>

        <p>Bonjour {{ user.firstname }}, pour réinitialiser votre mot de passe veuillez cliquer sur le lien ci-dessous : (Attention, valide 48h)</p>

        <p style="font-size: 1.5em; font-weight: 600;">
            <a href="{{ link }}">Réinitialiser le mot de passe</a>
        </p>
    </div>
</body>
</html>